<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>Draw a line</title>
	</head>
	<body>
		<canvas id="PieceLayer"
			style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
		<canvas id="GuideLayer"
			style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>	
		<canvas id="GameBoard"
			style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
		<canvas id="TestLayer"
			style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
		<script src="js/Yinsh.js" size={{size}} rings={{rings}} rows={{rows}} seq={{seq}}></script>  
	</body>
</html>